
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* contendido escritorio */
body{
    padding: 0%;
    margin: 0%;
}
.contenedor {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    
    grid-template-areas: 
        'mains headers'
        'mains contenido'
        'footers contenido'
    ;
    min-height: 100vh;  
    font-family: 'Roboto', sans-serif;
}
.titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: large;
    animation: mover 2s infinite;
    animation-direction: alternate;
}
@keyframes mover{
    from{
        transform: scale(100%);
    }
    to{
        transform: scale(130%);
    }
}

.menu ul li a{
    color: white;
    text-decoration: none;
    
}
.menu ul li{
    padding: 5%;
}
.menu ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
    text-align: center;
}
.menu{
    width: 100%;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: mains;
    background-color: #01579B;
}
.header{
    grid-area: headers;
    background-color: #E1E2E1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.header select{
    width: 80%;
   
    
    margin-bottom: 1%;
}
.cardsAnimations{
    display: flex;flex-direction: column;justify-content: center;align-items: center;position: relative;/* width: 68%; */
   
}
.cardsParrafo{
    text-align: center;width: 80%;position: absolute;
}
.cardImagen{
    text-align: center;position: relative;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;

}
.cards p{
    margin: 0;
}
.cards h1{
    margin-top: 2%;
    font-size: medium;
    color: rgb(59, 59, 59);
    
}
.cards img{
 width: 80%;
 border-radius: 10%;
 border: 2px solid rgb(64, 64, 255);
 filter: opacity(100%);
 transition: opacity 0.3s ease-out;

}
.cards img:hover{
    /* transform:rotateY(90deg); */
    opacity: 0%;
}
.inconos_productos a{
    color: rgb(160, 160, 160);
    transition: color 0.1s ;
}
 .icono1:hover{
    color:#FF0000;
}
.icono2:hover{
    color: #5865F2;
}
.cards button{
    width: 85%;
    margin-top: 1%;
    border: none;
    background-color: rgb(16, 87, 138) ;
    color: rgb(255, 255, 255);
    padding: 3%;
    transition: all 0.3s ease-in;
}
.cards button:hover{
    background-color: black;
    color: white;
}
.contenido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    grid-template-rows: 1fr 1fr 0.1fr;
    
    grid-area: contenido;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
  overflow-y: scroll;

  
}

.pagination{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   width: 100%;
   grid-area: 3/1/4/5;
    
}
.pagination ul{

    display:flex;
    flex-direction: row;
    padding: 0%;
    justify-content: center;
    list-style: none;
    width: 100%;
    
    
}
.pagination ul li a{
    text-decoration: none;
    color: #006df3;
    font-weight: 600;
}
.pagination ul li{
    width: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    border: solid 1px rgb(212, 212, 212);
    border-radius: 3%;
    color: #006df3;
 transition: background-color 0.1s ease-in;
}
.pagination ul li:hover{
    background-color: #E1E2E1;
    transform: scale(112%);
}
.card img{
    width: 200px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    grid-area: footers;
    background-color: #002F6C;
}
.footer p{
    color: white;
}

/* contenido smartphone */
@media (max-width: 740px) {
    .contenido {
       
        grid-template-columns: 1fr;
       
    }
    .contenedor {
        grid-template-columns: 100%;
        /* grid-template-rows: 1fr 2% auto 1fr; */
        grid-template-areas: 
            'mains '
            'headers '
            'contenido '
            'footers'
        ;
    }
    .menu{
        width: auto;
    }
    .card img{
        width: 68%;
    }
    .pagination{
        display: none;
    }
   
}
/* contenido table */
@media (min-width:740px) and (max-width: 976px) {
    .contenido {
    
        grid-template-columns: 1fr 1fr ;
        
        
    }
    .menu{
        width:auto;
    }
    .pagination{
        display: none;
    }
    .contenedor {
        grid-template-areas: 
            'mains mains'
            'headers headers'
            'contenido contenido'
            'footers footers'
        ;
    }
   
}